<div class="container-fluid">
  <div class="row mt-[100px]">
    <div class="col-12 flex justify-center">
      <h1 class="font-poppins font-black text-4xl text-center text-blue-500">
        Hello 
      </h1>
      <%= image_tag "handwaving.svg", { height: 30, width: 30 } %>
    </div>
  </div>
  <div class="row mt-1 mx-10">
    <div class="col-12 flex flex-row justify-center">
      <p class="font-sans text-gray-400 text-center">Welcome to my simple portofolio about cursor pagination.</p>
    </div>
  </div>

  <div class="row mt-8 mx-10">
    <div class="col-12 flex flex-row justify-center">
      <p class="font-sans text-balance text-gray-700 text-center">
      Cursor pagination is a method used to paginate through a large set of data,
      typically in a database or an API response, by using a <a class="underline font-black decoration-pink-500">"cursor"</a> to keep track of the current position.
      Unlike traditional pagination, which relies on page numbers or offsets, cursor pagination provides a more
      efficient and scalable way to navigate through large datasets.</p>
    </div>
  </div>


</div>
